#main-content {
  height: 100vh; /* Garante que a div main-content cubra toda a altura do body */
  width: 100%; /* Garante que a div main-content cubra toda a largura do body */
  flex: 0 0 auto;
}

#who-am-i {
  height: 100vh; /* Garante que a div who-am-i cubra toda a altura do body */
  width: 100%; /* Garante que a div who-am-i cubra toda a largura do body */
  flex-grow: 1;
}
