@import url(https://fonts.googleapis.com/css?family=Khula:700);

.console-underscore {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2em;
  color: cornflowerblue;
  display:inline-block;
  position:relative;
}

.introduction-animated-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.introduction-animated-text label {
  width: 100%;
  font-size: larger;
  display: flex;
  flex-direction: row;
  cursor: default;
}

.introduction-animated-text span {
  font-size: 2em;
  color: rgba(84, 84, 84, 0.69);
}
